<!-- <div class="bg-pattern"> -->

<div style="" class="pusher">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
</div>



<div class="container ">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="">Track Your Flight!</h2>
      <p>An app that allows you to interact with other travelers sharing the same flight information, have the pleasure of chatting with flight members also!</p>

      <!-- <a class="btn btn-primary btn-lrg" ng-click="loginObj.$login('facebook');">Login</a> -->
      <!-- <pre>{{loginObj.user.thirdPartyUserData.picture.data.url | json}}</pre> -->
      
    </div>
  </div>

  <div class="row">
    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

      <div class="col-md-3">
        <div class="form-group" ng-class="{ 'has-error' : userForm.airline.$invalid && !userForm.airline.$pristine }"> 
          <input name="airline" type="text" ng-model="myAirline" placeholder="Airline Carrier" typeahead="airline as airline.name for airline in airlines | filter:{name:$viewValue}" typeahead-loading="loadingLocations" class="form-control"required >
          <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
          <p ng-show="userForm.airline.$invalid && !userForm.airline.$pristine" class="alert alert-danger">Your Airline Carrier is required.</p>
        </div><!-- ENDS .form-group -->
      </div>

      <div class="col-md-3">
        <p class="input-group extra">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" required>
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
      </div>

      <div class="col-md-3">
        <div class="form-group" ng-class="{ 'has-error' : userForm.flight.$invalid && !userForm.flight.$pristine }"> 
          <input type="text" name="flight" placeholder="Flight number" class="form-control" title="flight number" ng-model="myFlight" required>
          <p ng-show="userForm.flight.$invalid && !userForm.flight.$pristine" class="alert alert-danger">Your Flight Number is required.</p>
        </div>
      </div>

      <div class="col-md-3">
        <button type="submit" class="btn btn-primary" ng-click="printAir()">Search</button>

      </div>

    </form>
  </div> <!-- ENDS .row -->
  <!-- <div class="row"> 
    <button type="submit" class="btn btn-lrg" ng-click="printAir()">Submit</button>
  </div> -->
</div> <!-- ENDS .container -->

<!-- </div> -->

      